body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    padding: 50px;
}

.container {
    background: #ffc0cb;
    padding: 80px 100px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #D02090;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #D02090;
}

#result {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #D02090;
}
